# Build artifacts
/build/
/dist/
*.egg-info/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# IDE
.idea/
.vscode/
*.swp
*.swo

# Testing
.pytest_cache/
.coverage
htmlcov/

# Virtual environments
venv/
env/
.env

# OS
.DS_Store
Thumbs.db
/data
/logs
/docs
/config
/docs
/docs
/expert_stream_server/config
/test_files
/expert_stream_server
